body{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: rgb(230, 177, 6);
   font-family:Helvetica,Futura,Arial,Verdana,sans-serif;
  }

 .top{
 	max-width: 100%;
    margin: 0%;
    padding: 0%;
 }

 .catalogo{
 	  width: 100%;
 }

 .container{

    resize: horizontal;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    margin:50px;
 }

 .subcontainer {
     display:block;
     padding: 15px;
     margin: 0px;
     

}
.box{
    padding: 0px;
    margin: 0px;
    width: 99%;

}

.img {
    display:block;
    margin: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    max-width: 100%;	
    border:6px solid #000;
    text-decoration: none;
}
.txt{

	  position: relative;
      color:#fff;
      background-color:#000;
      padding:3px 6px;
      opacity:1;
      font-weight:bold;
      margin: 0px;
      width: 100%;
	  text-align: center;

}

.boton{
       color: yellow;
      background-color:#000;
      padding:0px 20px;
      opacity:1;
      font-weight:bold;
      margin: auto;
      max-width: 100%;
    text-align: center;
    text-decoration: none;
}

  .fixed {
      padding: 4px;
      position: fixed;
      bottom: 0px;
      min-height: 20px;
      width: 100%;
      text-align: center;
      word-wrap: break-word;
      font-weight:bold;
      background-color: black;
      font-size: 24px;
      text-transform: uppercase;

      }

a {
  text-decoration: none;
}
